#top-nav {
    padding-right: 15px;
}

/* top-nav */
#top-nav img.logo {
    float: left;
    max-height: 50px;
    display: inline-block;
    padding: 8px 0 8px 8px;
}

/* navbar */
#navbar .nav a {
    cursor: pointer;
}

/* mimic the bootstrap nav bar */
#sidebar {
    position: fixed;
    padding: 0 0 0 0;
    top: 50px;
    height: 100%;
}
#sidebar .nav li>a {
    color: #777;
}
#sidebar #lg-menu li>a {
    padding-left: 8px;
}
/* when the sidebar is collapsed, reduce the left/right padding
 to avoid the icon to be clipped */
#sidebar.col-xs-1 li>a {
    padding-left: 2px;
    padding-right: 2px;
}
.nav li>a:hover,
.nav li a.active {
    color: #555;
    background-color: #e7e7e7;
}
.nav .toggle-button {
    cursor: pointer;
}
#sidebar.overlay {
    z-index: 2000;
}
/* nested menu */
#sidebar #lg-menu .sub-nav li>a {
    background-color: #ededed;
    padding-left: 24px;
}
#sidebar #lg-menu .sub-nav li>a:hover,
#sidebar #lg-menu .sub-nav li>a.active {
    background-color: #dfdfdf;
}

.btn-header {
    margin: 8px;
}
