<style>
    .fa-buttons > div {
        display: inline-block;
        cursor: pointer;
        font-size: 2em;
        margin-top: -5px;
        margin-bottom: -5px;
        padding-right: 3px;
        padding-left: 3px;
    }

    .no-padding {
        padding: 0 !important;
    }

    .innertable {
        margin: -1px;
        width: calc(100% + 2px);
        max-width: calc(100% + 2px);
    }

    .red {
        background-color: #a70f0f;
    }

    .green {
        background-color: #04941c;
    }

    td {
        height: 37px;
    }
</style>

<script type="text/ng-template" id="table_renderer_preview.html">
    <table class="table table-bordered table-hover innertable">
        <!--row in pass.value track by $index -->
        <tr ng-init="row = pass.value[index]" ng-repeat="index in $ctrl.forLoop(0, global.oldValue[key].length > pass.value.length ? global.oldValue[key].length : global.oldValue[key].length)">
            <th ng-if="row && !row.options.hideKey" translate>{{row.options.name}}</th>

            <td ng-if="row && !row.options.isLeaf" class="no-padding" ng-class="{red: global.preview}"><div ng-repeat="(key, pass) in $ctrl.makeObject(row, index)" ng-include="'table_renderer_object.html'"></div></td>
            <td ng-if="!row || row.options.isLeaf" ng-class="{red: global.preview}">
                <div>
                    <bitcraft-db-edition-simple-type type="global.oldValue[key][index].options.displayAs" value="global.oldValue[key][index].value" edit="false"></bitcraft-db-edition-simple-type>
                </div>
            </td>
        </tr>
    </table>
</script>

<script type="text/ng-template" id="table_renderer_object.html">
    <table class="table table-bordered table-hover innertable">
        <tr ng-repeat="row in pass.value track by $index">
            <th ng-if="!row.options.hideKey" translate>{{row.options.name}}</th>

            <td ng-if="!row.options.isLeaf" class="no-padding" ng-class="{green: global.preview}"><div ng-repeat="(key, pass) in $ctrl.makeObject(row, $index)" ng-include="'table_renderer_object.html'"></div></td>
            <td ng-if="row.options.isLeaf" ng-class="{green: global.preview}">
                <div style="display:block" ng-if="row.options.displayAs === 0">
                    <bitcraft-db-edition-component-wrapper data="{row: row.value, component: row.options.accessor[0].accessor}"></bitcraft-db-edition-component-wrapper>
                </div>
                <div ng-if="row.options.displayAs !== 0">
                    <bitcraft-db-edition-simple-type type="row.options.displayAs" value="row.value" values="$ctrl.getValues(row.options)" edit="global.visible && !global.preview"></bitcraft-db-edition-simple-type>
                </div>
            </td>
        </tr>
        <tr ng-if="row.options.extensible && global.visible && !global.preview">
            <td>
                <button class="btn btn-primary" ng-click="$ctrl.addRow(pass);"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button class="btn btn-danger" ng-click="$ctrl.delRow(pass);"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </td>
        </tr>
    </table>
</script>

<div ng-show="done" id="db-edition-detailed-view">
    <h3 ng-if="global.options.detailedTitle">{{global.options.detailedTitle | translate}}</h3>

    <table class="table table-bordered table-hover">
        <tr ng-repeat="row in global.data track by $index">
            <th translate>{{row.options.name}}</th>

            <td ng-if="!row.options.isLeaf && global.preview" class="no-padding" ng-class="{red: global.preview}"><div ng-repeat="(key, pass) in $ctrl.makeObject(row, $index)" ng-include="'table_renderer_preview.html'"></div></td>
            <td ng-if="row.options.isLeaf && global.preview" ng-class="{red: global.preview}">
                <div ng-if="row.options.displayAs !== 0">
                    <bitcraft-db-edition-simple-type type="row.options.displayAs" value="global.oldValue[$index]" edit="false"></bitcraft-db-edition-simple-type>
                </div>
            </td>

            <td ng-if="!row.options.isLeaf" class="no-padding" ng-class="{green: global.preview}"><div ng-repeat="(key, pass) in $ctrl.makeObject(row, $index)" ng-include="'table_renderer_object.html'"></div></td>
            <td ng-if="row.options.isLeaf" ng-class="{green: global.preview}">
                <div style="display:block" ng-if="row.options.displayAs === 0">
                    <bitcraft-db-edition-component-wrapper data="{row: row.value, component: row.options.accessor[0].accessor}"></bitcraft-db-edition-component-wrapper>
                </div>
                <div ng-if="row.options.displayAs !== 0">
                    <bitcraft-db-edition-simple-type type="row.options.displayAs" value="row.value" values="$ctrl.getValues(row.options)" edit="global.visible && !global.preview"></bitcraft-db-edition-simple-type>
                </div>
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap; text-align: center;" colspan="{{global.preview ? 3 : 2}}">
                <!-- form -->
                <div class="fa-buttons" ng-show="global.visible">
                    <div ng-click="$ctrl.edit('update')" style="color: #449d44">
                        <i class="fa fa-save" aria-hidden="true"></i>
                    </div>
                    <div ng-click="$ctrl.edit('cancel')" style="color: #025aa5">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="fa-buttons" ng-show="!global.visible">
                    <div ng-click="$ctrl.seeGlobal()" style="color: #449d44">
                        <i class="fa fa-search-minus" aria-hidden="true"></i>
                    </div>
                    <div ng-if="global.options.edit" ng-click="$ctrl.edit('show')" style="color: #025aa5">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </div>
                    <div ng-if="global.options.del" ng-click="$ctrl.delete()" style="color: #c9302c">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
