<!--suppress ALL -->
<div ng-switch on="$ctrl.type">
    <div ng-switch-when="1">{{$ctrl.value}}</div>
    <bitcraft-db-edition-text ng-switch-when="2" value="$ctrl.value" edit="$ctrl.edit"></bitcraft-db-edition-text>
    <bitcraft-db-edition-number ng-switch-when="3" value="$ctrl.value" edit="$ctrl.edit"></bitcraft-db-edition-number>
    <bitcraft-db-edition-checkbox ng-switch-when="4" value="$ctrl.value" edit="$ctrl.edit"></bitcraft-db-edition-checkbox>
    <bitcraft-db-edition-checkboxes ng-switch-when="5" value="$ctrl.value" edit="$ctrl.edit"></bitcraft-db-edition-checkboxes>
    <bitcraft-db-edition-date ng-switch-when="6" value="$ctrl.value" edit="$ctrl.edit"></bitcraft-db-edition-date>
    <bitcraft-db-edition-image ng-switch-when="7" value="$ctrl.value" edit="$ctrl.edit"></bitcraft-db-edition-image>
    <bitcraft-db-edition-blob-image ng-switch-when="8" value="$ctrl.value" edit="$ctrl.edit"></bitcraft-db-edition-blob-image>
    <bitcraft-db-edition-select ng-switch-when="9" value="$ctrl.value" values="$ctrl.values" edit="$ctrl.edit"></bitcraft-db-edition-select>
</div>
