<div ng-if="$ctrl.which === 'display-edit-same-collection'">
    TODO
</div>

<div ng-if="$ctrl.which === 'display-edit-other-collection'">
    TODO
</div>

<div ng-if="$ctrl.which === 'iterate-display'">
    TODO
</div>

<div ng-if="$ctrl.which === 'iterate-edit'">
    TODO
</div>

<div ng-if="$ctrl.which === 'save-keys-values'">
    TODO
</div>

<div ng-if="$ctrl.which === 'dropdown'">
    <h2>Dropdowns</h2>
    <h3>Overview</h3>
    <p>
        This display type is used when you want your user to choose among a finite number of choices.
        See the above example by pressing the edit button.
    </p>
    <h3>Usage</h3>
    <p>
        A dropdown takes a string as an input (the current value) and will return a string corresponding to the user choice.
        The set of values, must be set in the 'values' key. This key takes an array of strings. It can also take an
        identifier that was used in either 'saveKeys' or 'saveValues'.

        If the data in your db, is not a string, then it will be necessary to translate it. Some are provided by the
        default translations.
    </p>
        <ul>
            <li>Number -> Dropdown: toString() will be called on the number.</li>
            <li>Dropdown -> Number: parseInt(v, 10) will be called on the string.</li>
            <li>Boolean -> Dropdown: toString() will be called on the boolean.</li>
            <li>Dropdown -> Boolean: (v === 'true') will be called on the string.</li>
        </ul>
    <p>
        If your application requires different binding or has a more complicated schema in the database,
        then you must override the default translations functions.
    </p>
</div>

<div ng-if="$ctrl.which === 'translation'">
    TODO
</div>

<div ng-if="$ctrl.which === 'aggregation'">
    <h2>Aggregation functions</h2>
    <h3>Overview</h3>
    <p>
        An aggregation function has the following signature: <br>
            function (lastReturned, currentValue, currentIndex, remainingElements, totalElements)<br>
        This function will be called on every row of the global view.
        If remainingElements is 0, then the value returned by the function will be displayed in the UI.
        Otherwise, the value will simply be passed to the next call.
    </p>
    <h3>Configuration</h3>
    <p>
        To configurate the aggregation functions, first you need to define an aggregation function in the aggregate section.
        This section takes, a name, a backgroundColor, and the aggregationFunction.
        Then you need to declare which columns are aggregatable, by setting the aggregatable attribute on your columns.
        The aggregatable attribute takes an array of boolean. Each entry in the array, activate or desactivate the
        aggregation function at the same index of the array. An array too short, or no array fallback to the default value
        of false.
    </p>
</div>
