<style>
    .fa-buttons > div {
        display: inline-block;
        cursor: pointer;
        font-size: 2em;
        margin-top: -5px;
        margin-bottom: -5px;
        padding-right: 3px;
        padding-left: 3px;
    }

    .no-padding {
        padding: 0 !important;
    }

    .innertable {
        margin: -1px;
        width: calc(100% + 2px);
        max-width: calc(100% + 2px);
    }
</style>



<script type="text/ng-template"  id="table_renderer_object.html">
    <table class="table table-bordered table-hover innertable">
        <tr ng-repeat="row in pass">
            <th ng-if="!row.options.hideKey" translate>{{row.options.name}}</th>
            <td ng-if="!row.options.isLeaf" class="no-padding"><div ng-repeat="pass in [row.value]" ng-include="'table_renderer_object.html'"></div></td>
            <td ng-if="row.options.isLeaf">
                <div ng-if="row.options.displayAs !== 0">
                    <bitcraft-db-edition-simple-type type="row.options.displayAs" value="row.value" values="$ctrl.getValues(row.options)" edit="true"></bitcraft-db-edition-simple-type>
                </div>
            </td>
        </tr>
    </table>
</script>

<div ng-show="done" id="db-edition-detailed-view">
    <h3 ng-if="global.options.addTitle">{{global.options.addTitle | translate}}</h3>

    <table class="table table-bordered table-hover">
        <tr ng-repeat="row in global.data">
            <th translate>{{row.options.name}}</th>
            <td ng-if="!row.options.isLeaf" class="no-padding">
                <div ng-repeat="pass in [row.value]" ng-include="'table_renderer_object.html'"></div>
            </td>
            <td ng-if="row.options.isLeaf">
                <div ng-if="row.options.displayAs !== 0">
                    <bitcraft-db-edition-simple-type type="row.options.displayAs" value="row.value" values="$ctrl.getValues(row.options)" edit="true"></bitcraft-db-edition-simple-type>
                </div>
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap; text-align: center;" colspan="2">
                <!-- form -->
                <div class="fa-buttons">
                    <div ng-click="$ctrl.add()" style="color: #449d44">
                        <i class="fa fa-save" aria-hidden="true"></i>
                    </div>
                    <div ng-click="$ctrl.cancel()" style="color: #025aa5">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
