<nav id="top-nav" class="navbar navbar-default navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" style="padding-top:0.5em;padding-bottom:0.5em;padding-right: 0">
            <img src="./images/bitcraft_logo_notext_dark_64x64.png" style="height:100%">
        </div>
        <a class="navbar-brand can-hide" translate>APPLICATION_NAME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="btn-header dropdown">
                <button class="btn btn-default btn-block dropdown-toggle" type="button" id="selectLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span translate>LANG.ACTIVE</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                    <li><a ng-click="$root.changeLanguage('en')" translate>LANG.EN</a></li>
                    <li><a ng-click="$root.changeLanguage('fr')" translate>LANG.FR</a></li>
                    <li><a ng-click="$root.changeLanguage('jp')" translate>LANG.JP</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
