<div class="column col-lg-1 col-md-2 col-sm-2 col-xs-1 navbar-default" id="sidebar">

    <ul class="nav">
        <li><a ng-click="toggleNav($event);" class="toggle-button visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    </ul>

    <ul class="nav hidden-xs" id="lg-menu">
        <li ng-repeat="item in menu">
            <a ui-sref="{{item.href}}" title="{{item.title}}" ng-click="onNavLinkClicked();" ui-sref-active="active">
                <i class="fa {{item.icon}}"></i>
                {{item.title}}
            </a>
            <ul ng-if="item.sections" class="nav hidden-xs sub-nav">
                <li ng-repeat="sectionItem in item.sections">
                    <a ui-sref="{{sectionItem.href}}" title="{{sectionItem.title}}" ng-click="onNavLinkClicked();" ui-sref-active="active">
                        <i class="fa {{sectionItem.icon}}"></i>
                        {{sectionItem.title}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- tiny only nav-->
    <ul class="nav visible-xs" id="xs-menu">
        <li ng-repeat="item in menu">
            <a ui-sref="{{item.href}}" class="text-center" title="{{item.title}}" ng-click="onNavLinkClicked();" ui-sref-active="active">
                <i class="fa {{item.icon}}"></i>
            </a>
            <ul ng-if="item.sections" class="nav hidden-xs sub-nav">
                <li ng-repeat="sectionItem in item.sections">
                    <a ui-sref="{{sectionItem.href}}" title="{{sectionItem.title}}" ng-click="onNavLinkClicked();" ui-sref-active="active">
                        <i class="fa {{sectionItem.icon}}"></i>
                        {{sectionItem.title}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
