<!--suppress CssUnusedSymbol, HtmlUnknownAttribute, HtmlUnknownTag -->
<style>
    /* center the pagination */
    .text-center {
        display:block;
    }

    .text-center > ul {
        margin: 0;
    }

    .table-wrap {
        margin-bottom: 30px;
    }

    .table-wrap table {
        margin-bottom: 5px;
    }

    tr > div, td > div {
        display: inline-block;
    }

    .sort-none {
        width: 0;
        height: 0;
        border: 5px solid transparent;
        display: inline-block;
    }

    .sort-ascendant {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid black;
        display: inline-block;
    }

    .sort-descendant {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid black;
        display: inline-block;
    }

    .fa-buttons > div {
        display: inline-block;
        cursor: pointer;
        font-size: 2em;
        margin-top: -5px;
        margin-bottom: -5px;
        padding-right: 3px;
        padding-left: 3px;
    }

    .red {
        background-color: #a70f0f;
    }

    .green {
        background-color: #04941c;
    }
</style>

<script type="text/ng-template" id="checkModifications.html">
    <div class="modal-header">
        <h3 class="modal-title" translate>DATABASE_EDITION.CONFIRM_MESSAGE</h3>
    </div>
    <div class="modal-body" style="height: 500px;">
        Bliblublo
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="$dismiss()" translate>GENERAL.CANCEL</button>
        <button class="btn btn-primary" type="button" ng-click="$close()" translate>DIALOGS_CONFIRMATION</button>
    </div>
</script>

<div ng-show="done" id="db-edition-global-view">
    <h3 ng-if="options.globalTitle">{{options.globalTitle | translate}}</h3>
    <dir-pagination-controls on-page-change="$ctrl.changePage(newPageNumber)" class="text-center" boundary-links="true"></dir-pagination-controls>

    <table class="table table-bordered table-hover">
        <thead>
            <tr><!-- line with the column titles -->
                <th ng-if="options.edit || options.del || options.detailedView || options.aggregate.length"></th>
                <th ng-click="headerEntry.sortable ? $ctrl.sort($index) : false" ng-repeat="headerEntry in header track by $index" style="white-space: nowrap">
                    {{headerEntry.name | translate}}
                    <div ng-class="headerEntry.sortable ? (headerEntry.sortClass ? headerEntry.sortClass : 'sort-none') : false"></div>
                </th>
            </tr>
            <tr ng-if="options.search"><!-- line to search -->
                <th ng-if="options.edit || options.del || options.detailedView || options.aggregate.length"></th>
                <th ng-repeat="headerEntry in header track by $index">
                    <input ng-if="headerEntry.searchable" ng-model="headerEntry.searchInput" ng-change="$ctrl.search($index)" type="text" class="form-control" placeholder="{{'DATABASE_EDITION.SEARCH_IN' | translate}} {{headerEntry.name  | translate}}">
                </th>
            </tr>
        </thead>

        <tfoot ng-if="options.aggregate.length">
            <tr ng-repeat="aggregator in options.aggregate track by $index" style="background-color: {{aggregator.bgColor}}">
                <th translate>{{aggregator.name}}</th>
                <th ng-repeat="headerEntry in header track by $index">
                    <div ng-if="headerEntry.aggregatable[$parent.$index]">{{$ctrl.aggregate($index, aggregator.aggregationFunction)}}</div>
                </th>
            </tr>
        </tfoot>

        <tbody>
            <tr dir-paginate-start="row in global.data | itemsPerPage: options.paginate track by $index" current-page="currentPageNumber" ng-show="row.preview">
                <td rowspan="2">
                    <div class="fa-buttons" ng-show="row.visible">
                        <div ng-click="$ctrl.edit($ctrl.paginatedIndex + $index, 'update')" style="color: #449d44">
                            <i class="fa fa-save" aria-hidden="true"></i>
                        </div>
                        <div ng-click="$ctrl.edit($ctrl.paginatedIndex + $index, 'cancel')" style="color: #025aa5">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </div>
                    </div>
                </td>
                <td ng-repeat="cell in row.columns track by $index" ng-class="{red: row.preview}">
                    <div ng-if="cell.options.displayAs !== 0">
                        <bitcraft-db-edition-simple-type type="cell.options.displayAs" value="row.oldValue[$index]" edit="false"></bitcraft-db-edition-simple-type>
                    </div>
                </td>
            </tr>

            <tr dir-paginate-end>
                <td ng-if="!row.preview" ng-show="options.edit || options.del || options.detailedView || options.aggregate.length" style="white-space: nowrap">
                    <!--form -->
                    <div class="fa-buttons" ng-show="row.visible && !row.preview">
                        <div ng-click="$ctrl.edit($ctrl.paginatedIndex + $index, 'update')" style="color: #449d44">
                            <i class="fa fa-save" aria-hidden="true"></i>
                        </div>
                        <div ng-click="$ctrl.edit($ctrl.paginatedIndex + $index, 'cancel')" style="color: #025aa5">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="fa-buttons" ng-show="!row.visible">
                        <div ng-if="options.detailedView" ng-click="$ctrl.seeDetails($ctrl.paginatedIndex + $index)" style="color: #449d44">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </div>
                        <div ng-if="options.edit" ng-click="$ctrl.edit($ctrl.paginatedIndex + $index, 'show')" style="color: #025aa5">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </div>
                        <div ng-if="options.del" ng-click="$ctrl.delete($ctrl.paginatedIndex + $index)" style="color: #c9302c">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </div>
                </td>
                <td ng-repeat="cell in row.columns track by $index" ng-class="{green: row.preview}">
                    <div style="display:block" ng-if="cell.options.displayAs === 0">
                        <bitcraft-db-edition-component-wrapper data="{row: cell.value, component: cell.options.accessor[0].accessor}"></bitcraft-db-edition-component-wrapper>
                    </div>
                    <div ng-if="cell.options.displayAs !== 0">
                        <bitcraft-db-edition-simple-type type="cell.options.displayAs" value="cell.value" values="$ctrl.getValues(cell.options)" edit="row.visible && !row.preview"></bitcraft-db-edition-simple-type>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="options.add" class="buttons">
        <button class="btn btn-primary btn-block" ng-click="$ctrl.add()" translate>DATABASE_EDITION.ADD</button>
    </div>
</div>


